$colorToggler: #03045e;
$headerBackground: #caf0f8;
$colorHover: #90e0ef;
$transiciones: all 0.5s;
$colorGeneral: #fff;
$fuenteGeneral: albra;
$fuenteClase: bold;
$colorGralSecundario: #000000;
$colorMain: #dfedf5;
$transformacionGeneral: scale(1.1);