h6 {
    font-family: map-get($tipografias, fuenteUnica);
    color: map-get($colores , colorSecundario)
}

.redes {
    font-family: map-get($tipografias, fuenteUnica);
    color:map-get($colores , colorSecundario);
    .text-reset {
        text-decoration: none;
    }
    &:hover {
        color: map-get($colores , colorHover)
    }
}

.datos {
    font-family: map-get($tipografias, fuenteUnica);
    color: map-get($colores , colorSecundario)
}