.navbar-toggler {
    color: $colorToggler;
    border-color: transparent;
  }
  
  #cuerpo {
    background-color: $colorGeneral;
  }
  
  .navbar.navbar-expand-md.text-center.border-1.border-bottom.border-light {
    background-color: $headerBackground;
  }
  
  .nav-link {
    font-family: $fuenteGeneral;
    color: $colorToggler;
    &:hover {
      color: $colorHover;
      transition: $transiciones;
    }
  }