body {
    background-color: map-get($colores , colorPrincipal);
}

.nav-link {
    font-family: map-get($tipografias, fuenteUnica);
    color: map-get($colores , colorSecundario);
    &:hover {
        color: map-get($colores , colorHover);
        transition: all 0.5s;
    }
}
