main {
    background-color: $colorMain;
    p {
      font-family: $fuenteGeneral;
      color: $colorToggler;
    }
  }
  
  
  h2 {
    font-family: $fuenteGeneral;
    color: $colorToggler;
    font-weight: $fuenteClase;
  }
  
  .card-title.text-center {
    font-family: $fuenteGeneral;
    color: $colorToggler;
    font-weight: $fuenteClase;
  }
  
  .rounded.float-start {
    width: 420px;
    height: 300px;
  }
  
  .rounded.float-end {
    width: 420px;
    height: 300px;
  }
  
  .card-img-top.m-auto:hover {
  transform: scale(1.3);
  }
  
  .container.text-center.text-lg-start {
    background-color: $headerBackground;
  }