body {
    background-color: #e2dddd;
}

.nav-link {
    font-family: albra;
    color: #000000;
}

.nav-link:hover {
    color: #ffffff;
    transition: all 0.5s;
}

main h5 {
    font-family: albra;
}

.color {
   color: #000000;
}

.botones {
    border-radius: 5px;
    font-family: albra;
    background-color: #e2dddd
}

.botones:hover {
    background-color: #000000;
    color: #e2dddd;
}

main nav p {
    display: flex;
    font-family: albra;
    font-size: 25px;
    color: #000000;
}

footer {
    background-color: #e2dddd;
    border-radius: 10px;
}

footer p {
    font-family: albra;
}

footer section p {
    border-radius: 10px;
    background-color: #000000;
    color: #ffffff;
}


